body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

header {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
}

header h1 {
  color: white;
  margin: 0;
  padding: 0.5em;
}

main {
  background-color: whitesmoke;
  display: flex;
  height: 100%;
  width: 960px;
}

nav, .left-column, .right-column {
  align-items: stretch;
  display: inline-block;
  vertical-align: top;
}

nav {
  background-color: royalblue;
  margin: 0;
  padding: 0;
  width: 160px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

nav .top {
  margin-bottom: 2em;
  margin-top: 1em;
  padding: 0;
}

nav .middle {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0;
}

nav .bottom {
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 0;
}

nav a {
  color: white;
}

.widget {
  background-color: white;
  box-sizing: border-box;
  color: black;
  margin-bottom: 1em;
  padding: 1em;
}

.widget-title h2 {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.left-column {
  box-sizing: border-box;
  padding-left: 1em;
  padding-top: 1em;
  width: 300px;
}

.right-column {
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 500px;
}

footer {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
}

footer p {
  color: white;
  margin: 0px;
  padding: 1em;
}
